@font-face {
  font-family: "Hack Nerd Font";
  font-style: normal;
  font-weight: 400;
  src: url(https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/Hack/Regular/complete/Hack%20Regular%20Nerd%20Font%20Complete%20Mono.ttf?raw=true);
}
@font-face {
  font-family: "Hack Nerd Font";
  font-style: normal;
  font-weight: 700;
  src: url(https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/Hack/Bold/complete/Hack%20Bold%20Nerd%20Font%20Complete%20Mono.ttf?raw=true);
}
